<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente - HomeHorizon</title>
    <link rel="stylesheet" th:href="@{/css/cliente.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img th:src="@{/img/logos/01.png}" alt="HomeHorizon Logo">
                <h2>HomeHorizon</h2>
            </div>

            <!-- Menu lateral -->
            <nav class="menu">
                <a th:href="@{/Clientes}" >Clientes</a>
                <a th:href="@{/propiedad}">Propiedades</a>
                <a th:href="@{/configuracionAgente}" >Configuración</a>
                <a href="/logout">Cerrar sesión</a>
                <h1>Bienvenido</span></h1>
            </nav>
        </aside>

        <div class="main-content">
            <header class="header">
                <form action="/Clientes" method="get">
                    <div class="search-filter">
                        <input type="text" name="filtro" placeholder="Buscar cliente..." />
                        <button type="submit" class="btn-add">Filtrar</button>
                    </div>
                </form>
                <div class="profile">
                    <img th:src="@{/img/clientes/01.jpg}" alt="User Avatar" class="avatar">
                    <div class="status-indicator"></div>
                </div>
            </header>

            <!-- Tabla de Clientes -->
            <section class="client-list">
                <h2>Clientes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Correo electrónico</th>
                            <th>Número de teléfono</th>
                            <th>Estado</th>
                            <th>Agente asignado</th>
                            <th> Detalle </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Datos -->
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="${cliente.nombre + ' ' + cliente.apellido}">Nombre completo</td>
                            <td th:text="${cliente.correo}">Correo electrónico</td>
                            <td th:text="${cliente.telefono}">Número de teléfono</td>
                            <td>
                                <span th:if="${cliente.estado == true}" class="badge bg-success"> Activo </span>
                                <span th:unless="${cliente.estado == true}" class="badge bg-danger"> Inactivo </span>
                            </td>
                            <td th:text="${cliente.agente.nombre} + ' ' + ${cliente.agente.apellido}"> Agente asignado
                            </td>
                            <td>
                                <a th:href="@{/Clientes/detalle/{cliente_id} (cliente_id=${cliente.cliente_id})}"> Ver
                                </a>
                            </td>
                        </tr>
                        <!-- Más filas -->
                    </tbody>
                </table>
                <a href="/crCliente">
                    <button class="btn-add">Agregar cliente </button>
                </a>
            </section>


</body>

</html>