<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Transactions</title>
    <link rel="stylesheet" href="/css/mensaje.css" />
</head>
<body>
    <div class="container">
        <div class="message-box">
            <img src="\img\logos\01.png" alt="No Transactions Icon" class="icon">
            <h1>No hay transacciones</h1>
            <p>El cliente no ha realizado ninguna transaccion por el momento</p>

            <a th:href="@{/reporte}">Regresar</a>
        </div>
    </div>
</body>
</html>
