* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #333;
    font-style: normal;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #dff5df;
    padding: 20px;
    min-height: 100vh;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 125px;
    height: 80px;
}

.logo h2 {
    color: #343434;
}

.menu a {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.menu a.active, .menu a:hover {
    background-color: #023600;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.profile {
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.search-filter input,
.search-filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info .avatar {
    width: 50px;
    border-radius: 50%;
}

.agent-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.agent-list table th, .agent-list table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
}

.btn-add {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: #2c7a2a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button, .assign-button, .edit-button {
    background-color: #2c7a2a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.add-button:hover, .assign-button:hover, .edit-button:hover {
    background-color: #023600;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.agent-details {
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.agent-photo {
    width: 280px;
    height: 280px;
    border-radius: 10%;
    margin-top: 5px;
}

.agent-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.agent-info {
    flex-grow: 1;
    max-width: calc(100% - 170px);
}

.agent-info h2 {
    color: #094207;
}

.agent-status, .performance {
    margin-top: 10px;
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.assignments-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.assigned-properties, .assigned-clients {
    width: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.comments-container {
    margin-bottom: 20px;
}

.comments-container h3 {
    margin-bottom: 10px;
}

.comments-container textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .agent-detail {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .agent-photo {
        margin: 0 auto 20px auto;
    }

    .assignments-container {
        flex-direction: column;
    }

    .assigned-properties, .assigned-clients {
        width: 100%;
        margin-bottom: 15px;
    }
}

.descripcion {
    display: flex;
    justify-content: space-between;
}

.agent-status, .performance {
    width: 48%;
    margin-right: 10px;
}

.performance {
    padding-left: 25px;
}

.agent-list img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.btn-change-status {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-change-status:hover {
    background-color: #0056b3;
}

/* Contenedor que limita la altura de la tabla y habilita scroll */
.table-container {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead th {
    background-color: #f0f0f0;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}