* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #333;
    font-style: normal;
}

.container {
    display: flex;
}

.badge{
    
    color: #f0f0f0;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bg-success{
    
    background-color: #2c7a2a;
}

.bg-danger{
    background-color: red;
}

.sidebar {
    width: 250px;
    background-color: #dff5df;
    padding: 20px;
    min-height: 100vh;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 125px;
    height: 80px;
}

.logo h2 {
    color: #343434;
}


.menu a {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.menu a.active, .menu a:hover {
    background-color: #023600;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.profile {
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.search-filter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.search-filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info .avatar {
    width: 50px;
    border-radius: 50%;
}

.client-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.client-list table th, .client-list table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f0f0f0;
}

.btn-add, .edit-button {
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como un botón en línea */
}


.btn-add, .edit-button {
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: #2c7a2a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button{
    font-size: 12px;
    font-weight: normal;
}

.btn-add:hover, .btn-appointment:hover, .edit-button:hover{
    background-color: #023600;
}

.client-details {
     display: flex; 
     flex-wrap: wrap;
     align-items: flex-start;
     background-color: #fff;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     margin-bottom: 20px;
     gap: 20px; /* Añade espacio entre los divs */
     justify-content: space-around;
     width: 100%;
}

.client-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.details {
    flex-grow: 1;
    width: 90%;
    
}

.client-photo {
    width: 280px;
    height: 280px;
    border-radius: 10%;
    margin-right: 20px;
    margin-top: 5px;
}

.client-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.details, .preferences, .assigned-properties, .visited-properties, .client-status {
    padding: 10px; /* Espaciado interno de cada div */
    border: 1px solid #ddd; /* Borde para una mejor visualización */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para los divs */
}

.preferences, .client-status{
    margin-top: 15px; /* Espacio adicional superior entre los detalles y preferencias */
}

.assigned-properties, .visited-properties {
    margin-top: 15px; /* Espacio adicional superior entre preferencias y propiedades asociadas */
}

.details {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.details h2 {
    margin-bottom: 10px;
    color: #094207;
}

.preferences, .assigned-properties, .visited-properties, .client-status {
    width: 30%;
    flex-grow: 1;
 
}

.preferences, .client-status {
    width: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.assigned-properties, .visited-properties {
    width: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.agent-notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-grow: 1;
}

.area-details1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
}

.area-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    margin-right: 0;
    width: 100%;
}

.agent-notes textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.btn-appointment {
    background-color: #2c7a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.descripcion {
    display: flex;
    justify-content: space-between;
}
.client-status, .preferences {
    width: 48%;
    margin-right: 10px;
}


.preferences{
    padding-left: 25px;
}

.assignmentsdetails-container{
    display: inline;
}

.assignments-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-finale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assigned-properties, .visited-properties{
    width: 48%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    margin-right: 10px;
}

