* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #f8f8f8;
    color: #333;
    font-style: normal;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #dff5df;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 125px;
    height: 80px;
}

.menu a {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}

.menu a.active,
.menu a:hover {
    background-color: #023600;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.header h2 {
    color: #333;
}

.profile {
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.client-form h2 {
    color: #094207;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    margin-bottom: 30px;
}

.client-photo {
    flex: 1;
    text-align: center;
}

.client-photo img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.btn-upload {
    background-color: #2c7a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-fields {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.form-row label, .form-state label {
    font-weight: bold;
    color: #333;
}

.form-row input,
.form-row select,
.form-row textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-top: 5px;
}

.form-state input{
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-top: 5px;
}

textarea {
    height: 100px;
}

.preferences {
    margin-bottom: 20px;
}

.triple-row {
    display: flex;
    justify-content: space-between;
    
}

.triple-row select,
.triple-row input {
    flex: 1;
    margin-right: 10px;
    height: 45px;
}

.triple-row input:last-of-type {
    margin-right: 0;
}

.form-actions {
    text-align: right;
}



.btn-attach, .btn-submit {
    background-color: #2c7a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-attach:hover, .btn-submit:hover, .btn-upload:hover {
    background-color: #023600;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-fields {
        grid-template-columns: 1fr;
    }

    .btn-attach,
    .btn-submit {
        width: 100%;
        margin-bottom: 10px;
    }
}

.triple-row label{
    margin-top: 2%;
    margin-right: 0.5%;
}
