* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    display: flex;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 220px;
    background-color: #dff5df;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 125px;
    height: 80px;
}

.logo h1 {
    font-size: 18px;
    color: #343434;
}

.menu a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu a.active,
.menu a:hover {
    background-color: #023600;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
}

.filter-dropdown {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

/*.notification-icon {
    font-size: 18px;
}*/

.properties-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.properties-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.properties-table th, .properties-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.properties-table th {
    background-color: #f4f4f4;
}

.add-property-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c7a2a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.property-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex; /* Utiliza flexbox para alinear los elementos hijos en una fila */
    gap: 20px; /* Añade espacio entre los divs */
}

.property-info h2 {
    font-size: 20px;
    color: #333;
}

.property-info span {
    font-size: 14px;
    color: #777;
}

.property-photo {
    
    width: 280px;
    height: 280px;
    margin-right: 20px;
    border-radius: 10%;
    margin-top: 5px;
}

.property-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.property-info {
    flex: 1;
    max-width: calc(100% - 170px);
}

.property-extra-info, .property-notes{
    margin-top: 10px;
    flex: 1; /* Permite que ambos divs ocupen el mismo espacio */
    padding: 5px; /* Espaciado interno de cada div */
    border: 1px solid #ddd; /* Borde para mejor visualización */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
}

.property-info p, .property-extra-info ul {
    margin-bottom: 10px;
    font-size: 14px;
}

.documents-link {
    color: #094207;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 15px; /* Añade espacio entre documentos adjuntos y detalles */
}

.property-detalle {
    margin-top: 10px; /* Añadir espacio para que los detalles no estén tan cerca de documentos adjuntos */
}

.details-list, .extra-list {
    list-style: none;
    padding: 0;
}

.details-list li, .extra-list li {
    margin-bottom: 5px;
}

.property-notes label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.property-notes textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modify-btn {
    padding: 10px 20px;
    background-color: #2c7a2a;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.modify-btn:hover, .add-property-btn:hover{
    background-color: #023600;
}

.property-others {
    margin-top: 20px;
}

.property-others h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.others-list {
    list-style: none;
    padding: 0;
}

.others-list li {
    font-size: 14px;
    margin-bottom: 5px;
}

