* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    display: flex;
    background-color: #ffffff;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 220px;
    background-color: #dff5df;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    width: 125px;
    height: 80px;
}


.logo h2 {
    color: #343434;
}


.menu a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu a.active,
.menu a:hover {
    background-color: #023600;
    color: white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    color: #333;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-state-icon{
    position: relative;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
}

.title h1 {
    font-size: 2rem;
    color: #094207;
}

.user {
    display: flex;
    align-items: center;
}

.bell-icon {
    font-size: 1.5rem;
    margin-right: 15px;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.property-form {
    display: flex;
    flex-direction: column;
}

.property-form h2 {
    color: #094207;
    margin-bottom: 20px;
}


.form-container {
    display: flex;
    margin-bottom: 30px;
}

.property-photo {
    flex: 1;
    text-align: center;
}

.property-photo img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 10px;
}

.image-box {
    width: 120px;
    height: 120px;
    background-color: #094207;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 3rem;
    color: white;
}



.upload-btn {
    background-color: #2c7a2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.property-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.upload-docs .btn {
    background-color: #2c7a2a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

h2 {
    font-size: 1.5rem;
    color: #094207;
    margin-bottom: 15px;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.amenities {
    margin-bottom: 20px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.save-btn {
    background-color: #2c7a2a;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover, .save-btn:hover, .upload-btn:hover, .upload-docs:hover{
    background-color: #023600;
}


@media (max-width: 768px) {
    .form-section, .details-grid, .checkbox-group {
        grid-template-columns: 1fr;
    }
}
